<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/servers" >Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="['/users']" >Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 125 -> Setting up and Loading Routes</h5>
          <p class="card-text">These routes are responsible for our whole app. Everywhere in our application, if we enter /users, we want to load the users component as our main page let's say. So since this is really a core part of our app, where should we register it? Well, the <b>app module</b> sounds like a good place because here is where we configure our app, where we add all these components and so on, so this might be a good place to also inform Angular about the routes our application has and it is. So here above this @NgModule decorator here, I will add a new constant and I will name it appRoutes because it should hold all the routes of my application.</p>
          <p class="card-text">app.modules.ts</p>
          <code class="card-text">const appRoutes: Routes = [<br>
            // first is the path, second is the action<br>
            <b>&#123; path: '', component: HomeComponent } </b><br>
            <b>&#123; path: 'users', component: UserComponent } </b><br>
            <b>&#123; path: 'servers', component: ServerComponent } </b><br>
            ];</code><br>
          <p class="card-text">It is also important to import the 'RouterModule' adding the forRoot method</p>
          <code class="card-text">
            imports: [<br>
            BrowserModule,<br>
            AppRoutingModule,<br>
            FormsModule,<br>
            <b>RouterModule.forRoot(appRoutes)</b><br>
            ],<br>
          </code>
          <p class="card-text">So forRoot will now receive our appRoutes constant here as an argument and with that, our routes are now registered in our Angular app on this RouterModule which gives us this routing functionality and now Angular knows our routes.
          </p>

          <p class="card-text"> -> HTML file </p>
          <p class="card-text"> With the "router-outlet" simply marks the place in our document where we want the Angular router to load the component of the currently selected route.</p>
          <code>&#60;router-outlet>&#60;/router-outlet></code>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 126 -> Navigating with Router Links</h5>
          <p class="card-text"> Instead of use the href="" parameter, we will use the <b>routerLink=""</b> -> routerLink, like this simply is able to parse a string</p>
          <code class="card-text">&#60;a class="nav-link" routerLink="/servers">Servers&#60;/a></code>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 127 -> Understanding Navigation Paths</h5>
          <p class="card-text"> The difference between a path with the '/' and without is: </p>
          <p class="card-text"> <code>routerLink="/servers" </code> Absolute path</p>
          <p class="card-text"> <code>routerLink="servers" </code> Relative path</p>
          <p class="card-text"> <code>routerLink="../servers" </code> Back One level and path</p>
        </div>
      </div>



      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 128 -> Styling Active Router Links</h5>
          <p class="card-text"> To be able to active and deactive the path we use the property <b>routerLinkActive=".class"</b> </p>
          <p class="card-text"> <code>routerLinkActive="active" </code></p>
          <p class="card-text">For the home path or '/' we have to add the parameter -> <code>[routerLinkActiveOptions]="&#123;exact: true}" </code> that means Angular has to check the exact string of the path and compare it</p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 129 -> Navigating Programmatically</h5>
          <p class="card-text"> To be able to access to a link by a button or programmatically, for example using an event like <code>(click)="onLoadServers()"</code>, we have to add in the component the Service 'Router' like:</p>
          <p class="card-text"> <code>constructor(private router: Router) &#123; } </code></p>
          <p class="card-text"> and then in the method it is possible to add the navigate() method that function is to route the user to the new page:<br>
            <code> onLoadServers() &#123; <br>
              // complex calculation<br>
              <b>this.router.navigate(['/servers']);</b><br>
              }<br></code></p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 130 -> Using Relative Paths in Programmatic Navigation</h5>
          <p class="card-text">To be able to route the user to a relative path using an event, we need an extra Service: </p>
          <p class="card-text"> <code>constructor(private serversService: ServersService,<br>
            private router: Router,<br>
            <b>private route: ActivatedRoute</b>) &#123; }</code>
          </p>

          <p class="card-text"> The navigate method needs an extra parameter that can identify the relative path where attach the new path:<br>
            <code>routerLink="/servers" <br>
              onReload() &#123;<br>
              this.router.navigate(['servers'], &#123;relativeTo: this.route});<br>
              }</code>
          </p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 131 -> Passing Parameters to Routes -> users/:id</h5>
          <p class="card-text"> We do this by adding a colon and then any name you like ( :id ), like for example ID, you will later be able to retrieve the parameter inside of the loaded component by that name you specify here, so by ID in this case and the colon simply tells Angular that this is a dynamic part of the path. </p>
          <p class="card-text"> <code>  &#123; path: 'users/:id', component: UsersComponent }, </code> Now with this in place, we are able to load a component, the user component with this dynamic piece sent to it.</p>

        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 132 -> Fetching Route Parameters</h5>
          <p class="card-text"> <code>  &#123; path: 'users/:id', component: UsersComponent }, </code> with this code we know that we will load the user component, and we know that there will be some data in the URL for us.</p>
          <p class="card-text"> How can we get access to it? It is in the TypeScript file where we can get access and there, we need to inject something we already injected before, the active route.</p>
          <p class="card-text"> <code>  user: &#123; id: number, name: string};<br>
            <br>
            constructor(private route: ActivatedRoute)  &#123; }<br>
            <br>
            ngOnInit()  &#123;<br>
            this.user =  &#123;<br><b>
              id: this.route.snapshot.params['id'],<br>
              name: this.route.snapshot.params['name'],<br></b>
            };<br>
            }</code></p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 133 -> Fetching Route Parameters Reactively - Observables Object</h5>
          <p class="card-text"> - </p>
          <p class="card-text">If we need to load another link from the same route using the same components -> <code>&#60;a [routerLink]="['/users', 10, 'Anna']">Load Anna&#60;/a> </code> we will see the page never load the new values. That because the ngOnInit will be execute just once.</p>
          <p class="card-text">We can use our route object and instead of using the snapshot here, there is some params property on this route object itself. <b>Observables</b> are a feature added by some other third-party package, not by Angular but heavily used by Angular which allow you to easily work with asynchronous tasks and this is an asynchronous task because the parameters of your currently loaded route might change at some point in the future if the user clicks this link but you don't know when, you didn't know if and you don't know how long it will take:.<br>
            <code>ngOnInit() &#123;<br>
              this.user = &#123;<br>
              id: this.route.snapshot.params['id'],<br>
              name: this.route.snapshot.params['name'],<br>
              };<br>
              <b>this.route.params<br>
              .subscribe(<br>
              (params: Params) => &#123;<br>
              this.user.id = params['id'];<br>
              this.user.name = params['name'];<br>
              });</b><br>
              }</code><br>
            So an observable is an easy way to subscribe to some event which might happen in the future, to then execute some code when it happens without having to wait for it now and that is what params is. It is such an observable and as the name implies, we can observe it and we do so by subscribing to it.</p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 134 -> An Important Note about Route Observables</h5>
          <p class="card-text"> Is best practise to destroy the subscription using the onDestroy lifecycle hook. </p>
          <p class="card-text"> <code>  ngOnDestroy(): void &#123;<br>
            this.paramsSubscription.unsubscribe();<br>
            }</code></p>
          <p class="card-text"> For more details look into the user.component.ts </p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 135 -> Passing Query Parameters and Fragments</h5>
          <p class="card-text"> To be able to build a link like -> http://localhost:4200/servers/1/edit?allowEdit=1#loading </p>
          <p class="card-text">We have to use some hook: <br>
            <code>&#60;a
            [routerLink]="['/servers', 5, 'edit']"<br>
            [queryParams]="&#123;allowEdit: '1'}"<br>
            freagment="loading"<br>
            href="#"<br>
            class="list-group-item"<br>
            *ngFor="let server of servers"><br>
            &#123; &#123; server.name }}<br>
            &#60;/a> </code></p>
          <p class="card-text"> <code>[routerLink]="['/servers', 5, 'edit']"</code> for build our url</p>
          <p class="card-text"> <code>[queryParams]="&#123;allowEdit: '1'}"</code> Now query params and that's important is not a new directive, it's just another bindable property of the routerLink directive. Into the JS object we can pass the parameters.</p>
          <p class="card-text"> <code>fragment="loading"</code> Is for edit the # component</p>
          <p class="card-text">Suppose we have a button <code>&#60;button (click)="onLoadServer(1)" class="btn btn-primary">Load Servers 1&#60;/button></code><br>
          we can call a method by clicking, this method will structore like this: <br>
          <code>onLoadServer(id: number) &#123;<br>
            // complex calculation<br>
            this.router.navigate(['/servers', id, 'edit'],<br>
            &#123;queryParams: &#123;allowEdit: '1'}, fragment: 'loading'});<br>
            }</code>
          </p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 136 -> Retrieving Query Parameters and Fragments</h5>
          <p class="card-text"> There two way to retrieving information from the URl parameters and fragments </p>
          <p class="card-text"> <code>this.route.snapshot.queryParams; <br>
            this.route.snapshot.fragment
          </code> Using the snapshot, activating it by adding the service ActivatedRoute in the constructor: <br>
          <code> constructor(private serversService: ServersService,
            <b>private route: ActivatedRoute</b>) &#123; }</code> <br>
          this way probably will have the problem about the ngOnInit, that will execute the code just once</p>

          <p class="card-text">For that reason we can use the Observable method using the:<br><code>      this.route.queryParams.subscribe();<br>
            this.route.fragment.subscribe();<br></code>
That will help to react at the changes parameters.
          </p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 138 -> Setting up Child (Nested) Routes</h5>
          <p class="card-text"> With Child Nested Routes, it is possible to group all route with the same path at once, for example: </p>
          <p class="card-text"><code>  &#123; path: 'servers', component: ServersComponent },<br>
            &#123; path: 'servers/:id', component: ServerComponent },<br>
            &#123; path: 'servers/:id/edit', component: EditServerComponent },<br></code></p>
          <p class="card-text">Will Become: <br>
            <code>&#123; path: 'servers', component: ServersComponent, children: [<br>
              &#123; path: ':id', component: ServerComponent },<br>
              &#123; path: ':id/edit', component: EditServerComponent }<br>
              ] },</code></p>

          <p class="card-text">Since do that, we need to change each app-componet declared into the html files, and change with the -><code>&#60;router-outlet>&#60;/router-outlet> </code></p>
        </div>
      </div>



      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 140 -> Configuring the Handling of Query Parameters</h5>
          <p class="card-text"> So we want to preserve them because we already set this information at the point of time we visit a single server, now we want to preserve this information once we navigate one step further to the edit server component. To preserve that information, we get a simple way of doing so. In the server component where we navigate, we can pass another property or add another property to this Javascript object we use to configure our navigation and here, we get the query params handling property. </p>
          <p class="card-text">To handle the parameters, we just add the <a href="https://angular.io/api/router/NavigationExtras" target="_blank"> queryParamsHandling</a> followed with a string: <br><code>onReload() &#123;<br>
            this.router.navigate(['servers'], &#123;relativeTo: this.route, queryParamsHandling: 'preserve'});<br>
            }</code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 141 -> Redirecting and Wildcard Routes</h5>
          <p class="card-text"> For url that are not present in the server, we can redirect the user using the redirectTo that redirect the user in the path declared: </p>
          <p class="card-text"> <code>
            &#123; path: 'not-found', component: PageNotFoundComponent },<br>
            &#123; path: '**', redirectTo: '/not-found', pathMatch: 'full' },<br>
          </code></p>
          <p class="card-text">The two ** means whatever the user types -> <code>path: '**'</code> it's important that path is the last one.</p>
          <p class="card-text">The pathMatch: 'full'  since the default matching strategy is "prefix" , Angular checks if the path you entered in the URL does start with the path specified in the route. Of course every path starts with ''  (Important: That's no whitespace, it's simply "nothing").To fix this behavior, you need to change the matching strategy to "full" -> <code>pathMatch: 'full'</code></p>

        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 143 -> Outsourcing the Route Configuration</h5>
          <p class="card-text"> To contain the list of route content in the app.modules, we can create a new file <b>app-routing.module.ts</b> </p>
          <p class="card-text">It's important to add the NgModule like belowe: <br>
            <br><code>@NgModule(&#123; <br>
            imports: [RouterModule.forRoot(appRoutes)],<br>
            exports: [RouterModule]<br>
            })</code></p>
          <p class="card-text">It is important to add the AppRougingModule into the imports parameters on the app.module.ts: <br>
            <code>imports: [<br>
            BrowserModule,<br>
           <b>AppRoutingModule,</b> <br>
            FormsModule<br>
            ],</code></p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 144 -> An Introduction to Guards</h5>
          <p class="card-text"> So basically functionality, logic, code which is executed before a route is loaded or once you want to leave a route. Let's start with a simple use case, let's say you only want to give access to your server component, your single server component or the edit server component if a user is logged in. Now we're not going to add a full login functionality, for this we will later have the authentication section in this course but we will fake it for now. Still, we want to check this before any of our subroutes here, so servers/3, servers/1 and then also the added routes are accessed. </p>
          <p class="card-text"> So therefore, we want to use a feature built into the Angular router, running some code before the component is loaded, we will use the CanActivateGuard and we will do so in the next lecture.</p>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 145 -> Protecting Routes with canActivate</h5>
          <p class="card-text"> -> Create a service file <b>auth-guard.service.ts</b> </p>
          <p class="card-text"> -> Create a fake service file <b>auth.service.ts</b> </p>
          <p class="card-text">Into the auth-guard.service.ts we will implement the <a href="https://angular.io/api/router/CanActivate" target="_blank">CanActivate</a> interface which force to have the  <code>canActivate()</code> method. For more information check the link and how it was coded during the lesson.</p>
          <p class="card-text">It's important to add the <b>canActivate: [AuthGuard]</b> to the path -> <code>&#123; path: 'servers', <b>canActivate: [AuthGuard]</b>, component: ServersComponent, children:</code>. That will be active also for the children path.</p>
          <p class="card-text">It's also important to provide the services to the app.module.ts file -> <code> providers: [ServersService, AuthService, AuthGuard],</code></p>

        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 146 -> Protecting Child (Nested) Routes with canActivateChild</h5>
          <p class="card-text"> To protect only the child route instead of the main route too, we can use the <a href="https://angular.io/api/router/CanActivateChild" target="_blank">CanActivateChild</a>  interface. </p>
          <p class="card-text">Instead of to add the <code>canActivate: [AuthGuard], </code> to the path, we will add the <code>anActivateChild: [AuthGuard], </code></p>
          <p class="card-text"> Check the links and the components for more information. </p>
        </div>
      </div>





      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 148 -> Controlling Navigation with canDeactivate</h5>
          <p class="card-text">  I want to ask the user if he accidentally clicks back or somewhere else, if you really want to leave or if you maybe forgot to click update server first, so this convenience method of keeping the user from accidentally navigating away.</p>
          <p class="card-text"> I first of all now want to export an interface, an interface simply is a contract which can be imported by some other class let's say which forces this class to provide some logic.</p>
          <p class="card-text"> For more information about <a href="https://angular.io/api/router/CanDeactivate" target="_blank">CanDeactivate</a> interface, check the manual or reload the course.  </p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 149 -> Passing Static Data to a Route</h5>
          <h5 class="card-title">Lesson 150 -> Resolving Dynamic Data with the resolve Guard</h5>
          <p class="card-text"> Check the component error-page.component.ts </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>


<!--
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson xxx -> </h5>
          <p class="card-text"> - </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>
-->

    </div>
  </div>
</div>
