<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/servers" >Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="['/users']" >Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 125 -> Setting up and Loading Routes</h5>
          <p class="card-text">These routes are responsible for our whole app. Everywhere in our application, if we enter /users, we want to load the users component as our main page let's say. So since this is really a core part of our app, where should we register it? Well, the <b>app module</b> sounds like a good place because here is where we configure our app, where we add all these components and so on, so this might be a good place to also inform Angular about the routes our application has and it is. So here above this @NgModule decorator here, I will add a new constant and I will name it appRoutes because it should hold all the routes of my application.</p>
          <p class="card-text">app.modules.ts</p>
          <code class="card-text">const appRoutes: Routes = [<br>
            // first is the path, second is the action<br>
            <b>&#123; path: '', component: HomeComponent } </b><br>
            <b>&#123; path: 'users', component: UserComponent } </b><br>
            <b>&#123; path: 'servers', component: ServerComponent } </b><br>
            ];</code><br>
          <p class="card-text">It is also important to import the 'RouterModule' adding the forRoot method</p>
          <code class="card-text">
            imports: [<br>
            BrowserModule,<br>
            AppRoutingModule,<br>
            FormsModule,<br>
            <b>RouterModule.forRoot(appRoutes)</b><br>
            ],<br>
          </code>
          <p class="card-text">So forRoot will now receive our appRoutes constant here as an argument and with that, our routes are now registered in our Angular app on this RouterModule which gives us this routing functionality and now Angular knows our routes.
          </p>

          <p class="card-text"> -> HTML file </p>
          <p class="card-text"> With the "router-outlet" simply marks the place in our document where we want the Angular router to load the component of the currently selected route.</p>
          <code>&#60;router-outlet>&#60;/router-outlet></code>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 126 -> Navigating with Router Links</h5>
          <p class="card-text"> Instead of use the href="" parameter, we will use the <b>routerLink=""</b> -> routerLink, like this simply is able to parse a string</p>
          <code class="card-text">&#60;a class="nav-link" routerLink="/servers">Servers&#60;/a></code>
        </div>
      </div>

      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 127 -> Understanding Navigation Paths</h5>
          <p class="card-text"> The difference between a path with the '/' and without is: </p>
          <p class="card-text"> <code>routerLink="/servers" </code> Absolute path</p>
          <p class="card-text"> <code>routerLink="servers" </code> Relative path</p>
          <p class="card-text"> <code>routerLink="../servers" </code> Back One level and path</p>
        </div>
      </div>



      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson 128 -> Styling Active Router Links</h5>
          <p class="card-text"> To be able to active and deactive the path we use the property <b>routerLinkActive=".class"</b> </p>
          <p class="card-text"> <code>routerLinkActive="active" </code></p>
          <p class="card-text">For the home path or '/' we have to add the parameter -> <code>[routerLinkActiveOptions]="&#123;exact: true}" </code> that means Angular has to check the exact string of the path and compare it</p>
        </div>
      </div>


      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lesson xxx -> </h5>
          <p class="card-text"> - </p>
          <p class="card-text"> <code>routerLink="/servers" </code></p>
        </div>
      </div>

    </div>
  </div>
</div>
